<%= "<a class='speaker-anchor' id='#{talk.anchor}'>&nbsp;</a>" if talk.anchor %>
<div class="timeline-sidebar">
	<%= partial 'hour', locals: {from: talk.from, muntil: talk.until} %>
</div>
<div class="entry-mainwrapper talk">
	<h3 class="no-margin">
		<%= talk.title %>
	</h3>
	<% talk.tags.each do |tag| %>
		<span class="tag"><%= tag %></span>
	<% end %>
	
	<p><%= talk.abstract %></p>

	<section class="authors-wrapper">
	<% talk.authors.each do |author| %>
		<article class="author <%= 'one-speaker' if talk.authors.count == 1 %>">
			<div class="author-image">
				<% if author.image %>
					<img src="./img/speakers/<%= author.image %>" width="60">
				<% else %>
					<%= place_img("60x80") %>
				<% end %>
				
			</div>
			<div class="author-data">
				<h4 class="no-margin"><%= author.name %></h4>
				<p class="no-margin"><small>
				<% if author.description %>
					<%= author.description %>
				<% else %>
					<%= lorem.sentence %>
				<% end %>
				</small></p>

				<% if author.social %>
					<% author.social.each do |s| %>
						<% if s.twitter %>
							<a href="<%= 'http://twitter.com/' + s.twitter %>">
								<%= place_img("20x20") %>
							</a>
						<% end %>
						<% if s.facebook %>
							<a href="<%= s.facebook %>">
								<%= place_img("20x20") %>
							</a>
						<% end %>
						<% if s.website %>
							<a href="<%= s.website %>">
								<%= place_img("20x20") %>
							</a>
						<% end %>
						<%= place_img("20x20") if s.email %>	
					<% end %>
				<% end %>
			</div>
		</article>
	<% end %>
	</section>
</div>