<section class="wrapper">
	<div style="width: 80%; margin: auto 10%; text-align: center;">
		<h1>Schedule, Speakers <%= amp %> Talks: All-in-One</h1>
		<p>This is the road plan for our conference, which will be held at FEUP (on amphitheatre <a href class="no-link-style" ="http://sigarra.up.pt/feup/pt/instal_geral.espaco_view?pv_id=73144">B002</a>). We are very proud of the talks presented here and their speakers. Special thanks to the guest speakers who were invited to talk and set aside some of their personal time. Enjoy! </p>
		<!-- <img src="img/schedule-explanation.png"> -->
	</div>

	<h2>Schedule</h2>
	
	<section id="timeline-wrapper">
		<div id="vertical-bar"></div>
		<% data.talks.each do |entry| %>
		<article class="<%= entry.type %> entry">
			<% if entry.type == "talk" or entry.type == "keynote" %>
				<%= partial 'talk', locals: {talk: entry, meetup: false} %>
			<% elsif entry.type == "meetup"%>
				<%= partial 'talk', locals: {talk: entry, meetup: true} %>
			<% elsif entry.type == "coffeebreak" %>
				<%= partial 'coffeebreak', locals: {entry: entry} %>
			<% end %>
		</article>
		<% end %>
	</section>
	
</section>
