<section class="wrapper">
	<div style="width: 80%; margin: auto 10%; text-align: center;">
		<p>Here are some of the companies that made BitBox possible. We really appreciate their support and so shoud you. Without them you probably wouldn't be reading this.</p>
	</div>
	<!-- Nao gosto muito destes botoes aqui -->
	<div style="text-align: center;">
		<a href="#" class="button" >I want to support this conference</a>
		<a href="#" class="button" >I want to help with Food <%= amp %> Beverages</a>
	</div>

	<h2>Gold Sponsors</h2>
	<img src="img/sponsors/feup-logo.png" style="margin-right: 5px; margin-bottom: 5px;">
	<img src="img/sponsors/cmporto-logo.png" style="margin-right: 5px; margin-bottom: 5px;">
	<% 2.times do %>
		<img src="<%= lorem.image('200x200') %>" style="margin-right: 5px; margin-bottom: 5px;">
	<% end %>
	<hr>

	<h2>Silver Sponsors</h2>
	<% 15.times do %>
		<img src="<%= lorem.image('100x100') %>" style="margin-left: 5px; margin-bottom: 5px;">
	<% end %>
	<hr>

	<h2>Food <%= amp %> Beverages</h2>
	<% 5.times do %>
		<img src="<%= lorem.image('150x150') %>" style="margin-left: 5px; margin-bottom: 5px;">
	<% end %>
</section>