<section class="wrapper">
	<div style="width: 80%; margin: auto 10%; text-align: center;">
		<h1>Our Beloved Sponsors</h1>
		<p>Here are some of the companies that made <strong>Talk a Bit</strong> possible. We really appreciate their support and so shoud you. Without them you probably wouldn't be reading this.</p>
	</div>

	<div style="text-align: center;">
		<a href="<%= support_mailto %>" class="button" >I want to support this conference</a>
		<a href="<%= food_and_beverages_mailto %>" class="button" >I want to help with Food <%= amp %> Beverages</a>
	</div>

	<h2>Prestige Sponsors</h2>
	<% 1.times do %>
		<img src="<%= lorem.image('220x220') %>" style="margin-right: 5px; margin-bottom: 5px;">
	<% end %>
	<hr>

	<h2>Premium Sponsors</h2>
	<% 1.times do %>
		<img src="<%= lorem.image('200x200') %>" style="margin-left: 5px; margin-bottom: 5px;">
	<% end %>
	<hr>

	<h2>Softbits Sponsors</h2>
	<a href="http://www.up.pt" title="Universidade do Porto"><img src="img/sponsors/logo_UP_mini.png" width="150px" style="margin-left: 5px; margin-bottom: 5px;"></a>
	<a href="http://www.fe.up.pt" title="Faculdade de Engenharia da Universidade do Porto"><img src="img/sponsors/logo-feup.png" width="150px" style="margin-left: 5px; margin-bottom: 5px;"></a>
	<% 1.times do %>
		<img src="<%= lorem.image('150x150') %>" style="margin-left: 5px; margin-bottom: 5px;">
	<% end %>
	<hr>

	<h2>Friendly Sponsors</h2>
	<a href="http://www.sumolcompal.pt/" title="Sumol+Compal"><img src="img/sponsors/sumol+compal.png" width="150px" style="margin-left: 5px; margin-bottom: 5px;"></a>
	<a href="http://www.engenhariaradio.pt/" title="Engenharia Rádio"><img src="img/sponsors/radioEng.png" width="150px" style="margin-left: 5px; margin-bottom: 5px;"></a>
	<% 1.times do %>
		<img src="<%= lorem.image('150x150') %>" style="margin-left: 5px; margin-bottom: 5px;">
	<% end %>
</section>